
@keyframes rotation {
    0% {
		transform: rotate3d(0) skew(0);
		
	}
		
	50% {
		transform: rotate3d(1, 2.0, 3.0, -10deg) skew(0);
	}   
}

h1{

    text-decoration: underline;
}

h1:hover{

    color: red;
    animation: rotation 5s infinite;
}

#Buttonclick{

    background-color: burlywood;
    border: 1px solid brown;
    transition:all .3s;
    box-shadow: 4px 4px 10px black;

}